---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>sriram explains</title>
	</head>
	<body>
		<h3><a href="/">Home</a></h3>
		<h3><a href="/about/">About Me</a></h3>
		<h3><a href="/blog/">Blog</a></h3>
		<h1>Blog</h1>
		<h2>This is where I put my thoughts.</h2>
		<h3><a href="/posts/post-1/">Post-1</a></h3>
	</body>
</html>
